<h3>Pragmatic Order Confirmation</h3>
<p>
  This is just to let you know that we've confirmed your recent order:
</p>
<table>
  <tr><th colspan="2">Qty</th>Description<th></th></tr>
  <%= render @order.line_items %>
</table>